<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your Book Collection</title>
    </head>
    <body>
        <div class="container">
            <h1>Bookellect</h1>
            <h2>You added a book to your collection</h2>
            {{books.getTitle}}
            <br>
            by {{books.getAuthor}}
            <hr>
            <a href="/">Enter another book</a>
        </div>
    </body>
</html>
