<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Your Book Collection</title>
    </head>
    <body>
        <div class="container">
            <h1>Bookellect</h1>
            <h2>You added: </h2>
            <h4>{{books.getTitle}}, by {{books.getAuthor}}</h4>
            <hr>
            <a href="/">Go Home</a>
        </div>
    </body>
</html>
