<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>
            OH NO! you deleted everything
        </p>
        <a href="/">Go home</a>
    </body>
</html>
