<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Your Book Collection</title>
    </head>
    <body>
        <div class="container">
            <h1>Bookellect</h1>
            <h2>Your go-to book collection resource</h2>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Add a book!</h3>
                    <form class="" action="/add" method="post">
                        <input id="title" name="title" class="form-control" type="text" placeholder="Title">
                        <br>
                        <input id = "author" type="text" class="form-control" name="author" placeholder="Author">
                        <button type="submit" class="btn center-block" name="button">Add</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h3>Your Books!</h3>
                    {% if books is not empty %}
                        <ol>
                        {% for book in books %}
                            <li>{{book.getTitle}}, by {{book.getAuthor}}</li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                    <form action="/delete" method="post">
                        <button type="submit" class="btn center-block">Delete All</button>
                    </form>
                </div>
                <div class="col-sm-4">
                    <form action="/search" method="post">
                        <h3>Search</h3>
                        <input id="search" name="search" class="form-control" type="text" placeholder="Search by book title">
                        <button type="submit" class="btn center-block">Search!</button>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>
